.main-div {
  /* margin-bottom: 8rem; */
  /* background-color: azure; */
}
.sub-div {
  padding: 5px;
  width: 95%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 10% 5% 80%;
  /* gap: 0.2rem 0.2rem; */
}
.grid-item > h4 {
  padding: 0;
  margin: 0;
}

.grid-item > ul > li {
  list-style: circle;
}
/* .grid-item > ul > li {
  color: var(--text-color);
} */

.year {
  color: var(--secondary-color);
}

.middle-line {
  display: block;
  margin: 0 auto;
}

.borderLeft {
  border-left: 2px solid var(--secondary-color);
  height: 100%;
  /* margin: 10px; */
}

.circle {
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
  width: 2%;
  margin-left: -3px;
}

@media (max-width: 575.98px) {
  .borderLeft {
    display: none;
  }

  .circle {
    display: none;
  }
  .grid {
    display: block;
  }
}
