.aboutDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1;
}

.profile {
  /* border: 10px solid var(--primary-color); */
  /* border-radius: 3px; */
  margin: 20px;
  /* background-color: hsl(35, 30%, 88%); */
  /* width: 250px; */
  /* height: 300px; */
  /* float: right; */
  /* display: block; */
  /* margin: 0 auto; */
  /* align-self: center; */
  display: flex;
  justify-content: center;
}
.profile > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 500px;
  border: 1px solid rgb(221, 146, 6);
}

.intro {
  color: var(--text-color);
  margin: 20px;
}

/* .intro > p :first-of-type::first-letter {
  font-size: 4rem;
  float: inline-start;
  padding: 1rem 1rem;
  background-color: hsl(0, 59%, 41%);
  color: white;
  margin: 10px;
  text-shadow: 3px 3px 0 hsl(0, 59%, 41%);
} */

.intro-slide-in {
  animation: slideInFromLeft 500ms ease-out both;
}

@media (max-width: 575.98px) {
  .aboutDiv {
    display: block;
  }
  .profile {
    margin: 20px auto;
  }
}
