.education {
  /* text-align: left; */
  /* height: 100vh; */
  /* margin: 20px; */
  display: block;
  /* margin: 0 auto; */
  /* width: 30%; */
  text-align: center;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid var(--primary-color);
  border-radius: 100px;
  width: 300px; */
  /* border: 3px solid var(--primary-color); */
}
.education > ul > li {
  list-style: none;
}
