.education {
  /* text-align: left; */
  /* height: 100vh; */
  /* margin: 20px; */
  display: block;
  /* margin: 0 auto; */
  width: 30%;
  text-align: left;
  margin: 10px;
}
.education > ul > li {
  list-style: circle;
}
