.navBar {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 10px solid rgb(221, 146, 6);
  z-index: 1000; /* Ensures the header is above other content */
}

.navBar > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}

.navBar > ul > li {
  /* color:var(--text-color); */
  /* background-color: var(--primary-color); */
  cursor: pointer;
  border: none;
  font-size: medium;
  color: var(--text-color);
  text-decoration: none;
}

.navBar > ul > li:hover {
  font-weight: 700;
  cursor: pointer;
  /* color: var(--secondary-color); */
  /* background-color: var(--primary-color); */
}

.navBar > ul > li :focus {
  /* color: var(--secondary-color);
  background-color: var(--primary-color); */
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .navBar > ul {
    gap: 1.2rem;
  }
  .navBar > ul > li {
    font-size: small;
  }
}
