.contactDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  gap: 1rem;
}

.footer {
  background-color: var(--primary-color);
  /* position: fixed; */
  /* bottom: 0; */
  /* width: 99vw; */
  /* z-index: 1000; Ensures the header is above other content */
}

@media (max-width: 575.98px) {
  .contactDetails {
    gap: 0.5rem;
    font-size: 12px;
  }
}
